.hero-section {
  padding: 100px 20px;
  background-color: #fff4d6;
  text-align: center;
  animation: fadeInUp 1s ease forwards;
  opacity: 0;
  transform: translateY(20px);
}

.hero-section.show {
  opacity: 1;
  transform: translateY(0);
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
