.hero-section {
  padding: 100px 20px;
  background-color: #fff4d6;
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.hero-section.show {
  opacity: 1;
  transform: translateY(0);
}
